.github__slider {
    display: flex;
    gap: 16px;
    margin-top: 64px;
    padding-bottom: 90px;
}

@media (max-width: 767px) and (min-width: 320px) {
    .github__slider {
        margin-top: 16px;
        gap: 0;
    }
}