.cards__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 12px;
}

@media (max-width: 1439px) and (min-width: 768px) {
    .cards__date {
        margin-top: 16px;
        margin-left: 16px;
    }
}