@import url(./__avatar/author__avatar.css);
@import url(./__about/author__about.css);
@import url(./__container/author__container.css);

.author {
    max-width: 1440px;
    background-color: white;
    padding: 80px 104px;
    display: flex;
    justify-content: space-between;
    gap: 56px;
}

@media (max-width: 1439px) and (min-width: 768px) {
    .author {
        padding: 40px 40px 48px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .author {
        flex-direction: column;
        padding: 32px 16px;
        align-items: center;
    }
}