.github__button {
    margin: 24px auto;
    max-width: 288px;
    padding: 15px 60px;
    border-radius: 80px;
    border: 1px solid #1A1B22;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A1B22;
    box-sizing: border-box;
}