.search__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 608px;
}

@media (max-width: 767px) and (min-width: 320px) {
    .search__title {
        font-size: 36px;
        line-height: 40px;
        margin-left: 19px;
    }
}