.cards__text {
    max-width: 352px;;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 10px;
}

@media (max-width: 1439px) and (min-width: 768px) {
    .cards__text {
        height: 88px;
        overflow: hidden;
        margin-top: 10px;
        margin-left: 16px;
    }
}