.github__mail {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1A1B22;
    grid-column: 2 / 3 ;
    grid-row: 2 ;
}